.gmap-permalink {float:right; padding:0; margin:0 0 5px 5px; text-align:right;}
.gmap #list-query-form .row {float:left; margin-right:10px;}
.gmap #list-query-form .submit {clear:both; float:none; text-align:left}
